<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductCode)" UpgradeCode="{CA0D16BC-58AB-463B-A825-9F4A6C73E202}"
           Name="VKMT Extended MSI Probe" Manufacturer="VKMT"
           Language="1033" Version="$(var.ProductVersion)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="vkmt-extended.cab" EmbedCab="yes"/>
    <Property Id="DISABLEADVTSHORTCUTS" Value="1"/>
    <Property Id="FAIL_INSTALL" Value="0"/>
    <Property Id="RUN_CUSTOM_ACTIONS" Value="0"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR" Name="VKMT MSI Extended">
        <Component Id="ExtendedPayload" Guid="$(var.ComponentGuid)">
          <File Id="ExtendedMarker" Source="$(var.Marker)" KeyPath="yes"/>
          <File Id="ServicePayload" Source="$(var.ServiceExe)"/>
          <RegistryValue Root="HKCU" Key="Software\VKMT\InstallerExtended"
                         Name="Version" Type="string" Value="$(var.ProductVersion)"/>
          <Environment Id="ProbeEnvironment" Name="VKMT_MSI_ENV"
                       Value="$(var.ProductVersion)" Action="set" Part="all"
                       System="no"/>
          <Shortcut Id="ProbeShortcut" Directory="ProgramMenuFolder"
                    Name="VKMT MSI Extended" Target="[#ExtendedMarker]"/>
          <ServiceInstall Id="ProbeServiceInstall" Name="VKMTMsiProbe"
                          DisplayName="VKMT MSI Probe Service"
                          Type="ownProcess" Start="demand" ErrorControl="normal"
                          Vital="yes"/>
          <ServiceControl Id="ProbeServiceControl" Name="VKMTMsiProbe"
                          Remove="uninstall" Wait="yes"/>
        </Component>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
    </Directory>

    <Binary Id="ProbeCustomActions" SourceFile="$(var.CustomDll)"/>
    <CustomAction Id="CommitMarker" BinaryKey="ProbeCustomActions"
                  DllEntry="CommitMarker" Execute="commit" Return="check"/>
    <CustomAction Id="RollbackMarker" BinaryKey="ProbeCustomActions"
                  DllEntry="RollbackMarker" Execute="rollback"
                  Impersonate="yes" Return="check"/>
    <CustomAction Id="DeliberateFailure" BinaryKey="ProbeCustomActions"
                  DllEntry="DeliberateFailure" Execute="deferred"
                  Impersonate="yes" Return="check"/>
    <Upgrade Id="{CA0D16BC-58AB-463B-A825-9F4A6C73E202}">
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)" IncludeMaximum="no"
                      Property="OLDPRODUCTS"/>
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize">OLDPRODUCTS</RemoveExistingProducts>
      <Custom Action="RollbackMarker" Before="InstallFiles">
        RUN_CUSTOM_ACTIONS = 1 AND FAIL_INSTALL = 1
      </Custom>
      <Custom Action="DeliberateFailure" After="InstallFiles">
        RUN_CUSTOM_ACTIONS = 1 AND FAIL_INSTALL = 1
      </Custom>
      <Custom Action="CommitMarker" Before="InstallFinalize">
        RUN_CUSTOM_ACTIONS = 1 AND NOT Installed
      </Custom>
    </InstallExecuteSequence>
    <Feature Id="Complete" Title="VKMT Extended Probe" Level="1">
      <ComponentRef Id="ExtendedPayload"/>
    </Feature>
  </Product>
</Wix>
