<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="{D0A8B320-6D92-4CA7-A071-000000000101}"
      UpgradeCode="{CA0D16BC-58AB-463B-A825-9F4A6C73E101}"
      Name="VKMT MSI Runtime Probe"
      Manufacturer="VKMT"
      Language="1033"
      Version="1.0.0">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser"/>
    <Media Id="1" Cabinet="vkmt-probe.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR" Name="VKMT MSI Probe">
        <Component Id="ProbePayload" Guid="{50D6083E-A47B-4D14-9669-000000000101}">
          <File Id="ProbeMarker" Source="vkmt-msi-marker.txt" KeyPath="yes"/>
          <RegistryValue Root="HKCU" Key="Software\VKMT\InstallerProbe"
                         Name="Version" Type="string" Value="1.0.0"/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="VKMT MSI Probe" Level="1">
      <ComponentRef Id="ProbePayload"/>
    </Feature>
  </Product>
</Wix>
